# my user
set from = "nobody@example.com"
set realname = "My Name"
set signature = ~/.mutt/sig
set imap_user = "nobody@example.com"
set imap_pass = "MyFancyPassword"

# imap
set folder = "imaps://imap.gmail.com:993"
set spoolfile = "+INBOX"
set postponed ="+[Gmail]/Drafts"
set imap_keepalive = 900
set imap_check_subscribed=yes

# smtp
set smtp_url = "smtps://nobody@smtp.gmail.com:465/"
set smtp_pass = "MyFancyPassword"

# Use GPGME
set crypt_use_gpgme = yes
# Sign replies to signed email
set crypt_replysign = yes
# Encrypt replies to encrypted email
set crypt_replyencrypt = yes
# Encrypt and sign replies to encrypted and signed email
set crypt_replysignencrypted = yes
# Attempt to verify email signatures automatically
set crypt_verify_sig = yes
# specify the uid to use when encrypting/signing
set pgp_sign_as=0x13456789
# automatically sign all outcoming messages
set crypt_autosign = yes

source ~/.mutt/default.muttrc
