#browser:not(.tabs-top) #header {
  min-height: 0;
}

#browser.native:not(.tabs-top) #header {
  min-height: 0;
}

#browser:not(.tabs-top) #header #pagetitle {
  display: none;
}

#browser:not(.tabs-top) #main div.mainbar {
  padding-left: 35px;
}

#browser:not(.native):not(.tabs-top) #main div.mainbar {
  padding-right: 90px;
}

#browser:not(.tabs-top) #titlebar button.vivaldi {
  padding-top: 5px;
}

#browser:not(.tabs-top) #titlebar .window-buttongroup {
  padding-top: 2px;
}
