if [ "$XDG_SESSION_DESKTOP" = "budgie-desktop" ] || [ "$XDG_SESSION_DESKTOP" = "deepin" ] || [ "$XDG_SESSION_DESKTOP" = "xfce" ] || [ "$XDG_CURRENT_DESKTOP" = "i3" ]; then
    export QT_QPA_PLATFORMTHEME=gtk2
    export $(/usr/bin/gnome-keyring-daemon --start --components=ssh)
    export $(/usr/bin/gnome-keyring-daemon --start --components=secrets)
fi

if [ "$XDG_SESSION_DESKTOP" = "KDE" ]; then
    export SSH_ASKPASS=/usr/bin/ksshaskpass
    eval $(ssh-agent -s)
fi

if [ "$XDG_CURRENT_DESKTOP" = "i3" ]; then
    export TERMINAL=termite
fi

if [ -d $HOME/.bin ]; then
    if ! grep "$HOME/.bin" <<< $PATH; then
        export PATH=$HOME/.bin:$PATH
    fi
fi
