[Desktop Entry]
Categories=Qt;KDE;Utility;
Comment[nl_BE]=
Comment=
Exec=kleopatra
GenericName[nl_BE]=Certificaatbeheerder en Unified Crypto GUI
GenericName=Certificaatbeheerder en Unified Crypto GUI
GenericName[ar]=\xd9\x85\xd8\xaf\xd9\x8a\xd8\xb1 \xd8\xb4\xd9\x87\xd8\xa7\xd8\xaf\xd8\xa7\xd8\xaa \xd9\x88\xd9\x88\xd8\xa7\xd8\xac\xd9\x87\xd8\xa9 \xd8\xb1\xd8\xb3\xd9\x88\xd9\x85\xd9\x8a\xd9\x91\xd8\xa9 \xd9\x85\xd9\x88\xd8\xad\xd9\x91\xd8\xaf\xd8\xa9 \xd9\x84\xd9\x84\xd8\xaa\xd9\x91\xd8\xb9\xd9\x85\xd9\x8a\xd8\xa9
GenericName[bs]=Upravitelj certifikata i grafi\xc4\x8dko okru\xc5\xbeenje za Unified Crypto
GenericName[ca@valencia]=Gestor de certificats i IGU criptogr\xc3\xa0fica unificada
GenericName[ca]=Gestor de certificats i IGU criptogr\xc3\xa0fica unificada
GenericName[cs]=Spr\xc3\xa1vce certifik\xc3\xa1t\xc5\xaf a rozhran\xc3\xad pro \xc5\xa1ifrov\xc3\xa1n\xc3\xad
GenericName[da]=Grafisk brugerflade til certifikath\xc3\xa5ndtering og forenet kryptering
GenericName[de]=Zertifikatsverwaltung und einheitliche Oberfl\xc3\xa4che f\xc3\xbcr Kryptografie
GenericName[el]=\xce\xa0\xce\xb5\xcf\x81\xce\xb9\xce\xb2\xce\xac\xce\xbb\xce\xbb\xce\xbf\xce\xbd \xce\xb4\xce\xb9\xce\xb1\xcf\x87\xce\xb5\xce\xaf\xcf\x81\xce\xb9\xcf\x83\xce\xb7\xcf\x82 \xcf\x80\xce\xb9\xcf\x83\xcf\x84\xce\xbf\xcf\x80\xce\xbf\xce\xb9\xce\xb7\xcf\x84\xce\xb9\xce\xba\xcf\x8e\xce\xbd \xce\xba\xce\xb1\xce\xb9 \xce\xb5\xce\xbd\xce\xbf\xcf\x80\xce\xbf\xce\xb9\xce\xb7\xce\xbc\xce\xad\xce\xbd\xce\xb7\xcf\x82 \xce\xba\xcf\x81\xcf\x85\xcf\x80\xcf\x84\xce\xbf\xce\xb3\xcf\x81\xce\xac\xcf\x86\xce\xb7\xcf\x83\xce\xb7\xcf\x82
GenericName[en_GB]=Certificate Manager and Unified Crypto GUI
GenericName[es]=Gestor de certificados e interfaz gr\xc3\xa1fica de usuario unificada de cifrado
GenericName[et]=Sertifikaadihaldur ja \xc3\xbchtne kr\xc3\xbcptimise graafiline kasutajaliides
GenericName[fi]=Varmenteiden hallinta ja yhten\xc3\xa4inen salausk\xc3\xa4ytt\xc3\xb6liittym\xc3\xa4
GenericName[fr]=Interface de gestion des certificats et cryptographie unifi\xc3\xa9e
GenericName[gl]=Xestor de certificados e interface gr\xc3\xa1fica unificada de criptograf\xc3\xada
GenericName[hu]=Tan\xc3\xbas\xc3\xadtv\xc3\xa1nykezel\xc5\x91 \xc3\xa9s egys\xc3\xa9ges kriptogr\xc3\xa1fiai kezel\xc5\x91fel\xc3\xbclet
GenericName[ia]=Gerente de certificatos e interfacie unificate de Crypto
GenericName[it]=Gestore di certificati e interfaccia grafica unificata di crittografia
GenericName[ja]=\xe8\xa8\xbc\xe6\x98\x8e\xe6\x9b\xb8\xe3\x83\x9e\xe3\x83\x8d\xe3\x83\xbc\xe3\x82\xb8\xe3\x83\xa3\xe3\x81\xa8\xe3\x80\x81\xe7\xb5\xb1\xe5\x90\x88\xe3\x81\x95\xe3\x82\x8c\xe3\x81\x9f\xe6\x9a\x97\xe5\x8f\xb7 GUI
GenericName[kk]=\xd0\x9a\xd1\x83\xd3\x99\xd0\xbb\xd1\x96\xd0\xba \xd0\xbc\xd0\xb5\xd0\xbd\xd0\xb5\xd0\xb4\xd0\xb6\xd0\xb5\xd1\x80\xd1\x96 \xd0\xbc\xd0\xb5\xd0\xbd \xd1\x88\xd0\xb8\xd1\x84\xd1\x80\xd0\xbb\xd0\xb0\xd1\x83 \xd0\xb8\xd0\xbd\xd1\x82\xd0\xb5\xd1\x80\xd1\x84\xd0\xb5\xd0\xb9\xd1\x81\xd1\x96
GenericName[km]=\xe1\x9e\x80\xe1\x9e\x98\xe1\x9f\x92\xe1\x9e\x98\xe1\x9e\x9c\xe1\x9e\xb7\xe1\x9e\x92\xe1\x9e\xb8\xe2\x80\x8b\xe1\x9e\x82\xe1\x9f\x92\xe1\x9e\x9a\xe1\x9e\x94\xe1\x9f\x8b\xe1\x9e\x82\xe1\x9f\x92\xe1\x9e\x9a\xe1\x9e\x84\xe2\x80\x8b\xe1\x9e\x9c\xe1\x9e\xb7\xe1\x9e\x89\xe1\x9f\x92\xe1\x9e\x89\xe1\x9e\xb6\xe1\x9e\x94\xe1\x9e\x93\xe1\x9e\x94\xe1\x9e\x8f\xe1\x9f\x92\xe1\x9e\x9a \xe1\x9e\x93\xe1\x9e\xb7\xe1\x9e\x84\xe2\x80\x8b Unified Crypto GUI
GenericName[ko]=\xec\x9d\xb8\xec\xa6\x9d\xec\x84\x9c \xea\xb4\x80\xeb\xa6\xac\xec\x9e\x90\xec\x99\x80 \xed\x86\xb5\xed\x95\xa9\xeb\x90\x9c \xec\x95\x94\xed\x98\xb8\xed\x99\x94 GUI
GenericName[lt]=Liudijim\xc5\xb3 tvarkytuv\xc4\x97 ir jungtin\xc4\x97 kriptografijos grafin\xc4\x97 s\xc4\x85saja
GenericName[lv]=Sertifik\xc4\x81tu p\xc4\x81rvaldnieks un vienota kriptofgr\xc4\x81fijas saskarne
GenericName[mr]=\xe0\xa4\xaa\xe0\xa5\x8d\xe0\xa4\xb0\xe0\xa4\xae\xe0\xa4\xbe\xe0\xa4\xa3\xe0\xa4\xaa\xe0\xa4\xa4\xe0\xa5\x8d\xe0\xa4\xb0 \xe0\xa4\xb5\xe0\xa5\x8d\xe0\xa4\xaf\xe0\xa4\xb5\xe0\xa4\xb8\xe0\xa5\x8d\xe0\xa4\xa5\xe0\xa4\xbe\xe0\xa4\xaa\xe0\xa4\x95 \xe0\xa4\xb5 \xe0\xa4\x8f\xe0\xa4\x95\xe0\xa4\xa4\xe0\xa5\x8d\xe0\xa4\xb0\xe0\xa4\xbf\xe0\xa4\xa4 \xe0\xa4\x95\xe0\xa5\x8d\xe0\xa4\xb0\xe0\xa4\xbf\xe0\xa4\xaa\xe0\xa5\x8d\xe0\xa4\x9f\xe0\xa5\x8b GUI
GenericName[nb]=Sertifikatbehandler og forent krypto-GUI
GenericName[nds]=Zertifikatenpleger un eenheitlich Versl\xc3\xb6tel-B\xc3\xb6versiet
GenericName[nn]=Sertifikathandsamar og sameina krypteringsgrensesnitt
GenericName[pa]=\xe0\xa8\xb8\xe0\xa8\xb0\xe0\xa8\x9f\xe0\xa9\x80\xe0\xa8\xab\xe0\xa8\xbf\xe0\xa8\x95\xe0\xa9\x87\xe0\xa8\x9f \xe0\xa8\xae\xe0\xa9\x88\xe0\xa8\xa8\xe0\xa9\x87\xe0\xa8\x9c\xe0\xa8\xb0 \xe0\xa8\x85\xe0\xa8\xa4\xe0\xa9\x87 \xe0\xa8\x87\xe0\xa9\xb1\xe0\xa8\x95 \xe0\xa8\x95\xe0\xa9\x8d\xe0\xa8\xb0\xe0\xa8\xbf\xe0\xa8\xaa\xe0\xa8\x9f\xe0\xa9\x82 GUI
GenericName[pl]=Zarz\xc4\x85dzanie certyfikatami i kryptografi\xc4\x85
GenericName[pt]=Gestor de Certificados e GUI Unificada de Criptografia
GenericName[pt_BR]=Gerenciador de certificados e interface gr\xc3\xa1fica de criptografia unificada
GenericName[ro]=Gestionar de certificate \xc8\x99i interfa\xc8\x9b\xc4\x83 de criptare unificat\xc4\x83
GenericName[ru]=\xd0\xa3\xd0\xbf\xd1\x80\xd0\xb0\xd0\xb2\xd0\xbb\xd0\xb5\xd0\xbd\xd0\xb8\xd0\xb5 \xd1\x81\xd0\xb5\xd1\x80\xd1\x82\xd0\xb8\xd1\x84\xd0\xb8\xd0\xba\xd0\xb0\xd1\x82\xd0\xb0\xd0\xbc\xd0\xb8
GenericName[sk]=Spr\xc3\xa1vca certifik\xc3\xa1tov a unifikovan\xc3\xa9 \xc5\xa1ifrovacie grafick\xc3\xa9 rozhranie
GenericName[sl]=Upravljalnik potrdil in enoten \xc5\xa1ifrirni vmesnik
GenericName[sr@ijekavian]=\xd0\x9c\xd0\xb5\xd0\xbd\xd0\xb0\xd1\x9f\xd0\xb5\xd1\x80 \xd1\x81\xd0\xb5\xd1\x80\xd1\x82\xd0\xb8\xd1\x84\xd0\xb8\xd0\xba\xd0\xb0\xd1\x82\xd0\xb0 \xd0\xb8 \xd0\xbe\xd0\xb1\xd1\x98\xd0\xb5\xd0\xb4\xd0\xb8\xd1\x9a\xd0\xb5\xd0\xbd\xd0\xbe \xd1\x81\xd1\x83\xd1\x87\xd0\xb5\xd1\x99\xd0\xb5 \xd0\xb7\xd0\xb0 \xd1\x88\xd0\xb8\xd1\x84\xd1\x80\xd0\xbe\xd0\xb2\xd0\xb0\xd1\x9a\xd0\xb5
GenericName[sr@ijekavianlatin]=Menad\xc5\xbeer sertifikata i objedinjeno su\xc4\x8delje za \xc5\xa1ifrovanje
GenericName[sr@latin]=Menad\xc5\xbeer sertifikata i objedinjeno su\xc4\x8delje za \xc5\xa1ifrovanje
GenericName[sr]=\xd0\x9c\xd0\xb5\xd0\xbd\xd0\xb0\xd1\x9f\xd0\xb5\xd1\x80 \xd1\x81\xd0\xb5\xd1\x80\xd1\x82\xd0\xb8\xd1\x84\xd0\xb8\xd0\xba\xd0\xb0\xd1\x82\xd0\xb0 \xd0\xb8 \xd0\xbe\xd0\xb1\xd1\x98\xd0\xb5\xd0\xb4\xd0\xb8\xd1\x9a\xd0\xb5\xd0\xbd\xd0\xbe \xd1\x81\xd1\x83\xd1\x87\xd0\xb5\xd1\x99\xd0\xb5 \xd0\xb7\xd0\xb0 \xd1\x88\xd0\xb8\xd1\x84\xd1\x80\xd0\xbe\xd0\xb2\xd0\xb0\xd1\x9a\xd0\xb5
GenericName[sv]=Certifikathantering och gemensamt grafiskt anv\xc3\xa4ndargr\xc3\xa4nssnitt f\xc3\xb6r kryptering
GenericName[tr]=Sertifika Y\xc3\xb6neticisi ve Birle\xc5\x9fik \xc5\x9eifreleme Aray\xc3\xbcz\xc3\xbc
GenericName[ug]=\xda\xaf\xdb\x87\xdb\x8b\xd8\xa7\xda\xbe\xd9\x86\xd8\xa7\xd9\x85\xdb\x95 \xd8\xa8\xd8\xa7\xd8\xb4\xd9\x82\xdb\x87\xd8\xb1\xd8\xba\xdb\x87 \xdb\x8b\xdb\x95 \xd8\xa8\xd9\x89\xd8\xb1\xd9\x84\xd9\x89\xd9\x83\xd9\x83\xdb\x95 \xd9\x83\xdb\x95\xd9\x84\xda\xaf\xdb\x95\xd9\x86 \xd8\xb4\xd9\x89\xd9\x81\xd9\x89\xd8\xb1\xd9\x84\xd8\xa7\xd8\xb4 \xda\xaf\xd8\xb1\xd8\xa7\xd9\x81\xd9\x89\xd9\x83\xd9\x89\xd9\x84\xd9\x89\xd9\x82 \xd8\xa6\xd8\xa7\xd8\xb1\xd8\xa7\xd9\x8a\xdb\x88\xd8\xb2\xd9\x89
GenericName[uk]=\xd0\x97\xd0\xb0\xd1\x81\xd1\x96\xd0\xb1 \xd0\xb4\xd0\xbb\xd1\x8f \xd0\xba\xd0\xb5\xd1\x80\xd1\x83\xd0\xb2\xd0\xb0\xd0\xbd\xd0\xbd\xd1\x8f \xd1\x81\xd0\xb5\xd1\x80\xd1\x82\xd0\xb8\xd1\x84\xd1\x96\xd0\xba\xd0\xb0\xd1\x82\xd0\xb0\xd0\xbc\xd0\xb8 \xd1\x96 \xd1\x83\xd0\xbd\xd1\x96\xd1\x84\xd1\x96\xd0\xba\xd0\xbe\xd0\xb2\xd0\xb0\xd0\xbd\xd0\xb8\xd0\xb9 \xd0\xb3\xd1\x80\xd0\xb0\xd1\x84\xd1\x96\xd1\x87\xd0\xbd\xd0\xb8\xd0\xb9 \xd1\x96\xd0\xbd\xd1\x82\xd0\xb5\xd1\x80\xd1\x84\xd0\xb5\xd0\xb9\xd1\x81 \xd1\x88\xd0\xb8\xd1\x84\xd1\x80\xd1\x83\xd0\xb2\xd0\xb0\xd0\xbd\xd0\xbd\xd1\x8f
GenericName[wa]=GUI manaedjeu d'\xc2\xa0acertineures eyet d'\xc2\xa0ecriptaedje unify\xc3\xae
GenericName[x-test]=xxCertificate Manager and Unified Crypto GUIxx
GenericName[zh_CN]=\xe8\xaf\x81\xe4\xb9\xa6\xe7\xae\xa1\xe7\x90\x86\xe5\x99\xa8\xe5\x92\x8c\xe7\xbb\x9f\xe4\xb8\x80\xe5\xaf\x86\xe9\x92\xa5\xe7\xae\xa1\xe7\x90\x86\xe7\x95\x8c\xe9\x9d\xa2
GenericName[zh_TW]=\xe6\x86\x91\xe8\xad\x89\xe7\xae\xa1\xe7\x90\x86\xe8\x88\x87\xe7\xb5\xb1\xe4\xb8\x80\xe5\x8a\xa0\xe5\xaf\x86\xe4\xbb\x8b\xe9\x9d\xa2
Icon=kleopatra
MimeType=
Name[nl_BE]=Kleopatra
Name=Kleopatra
Name[af]=Kleopatra
Name[ar]=\xd9\x83\xd9\x84\xd9\x8a\xd9\x88\xd9\xbe\xd8\xaa\xd8\xb1\xd8\xa7
Name[be]=Kleopatra
Name[bg]=Kleopatra
Name[br]=Kleopatra
Name[bs]=Kleopatra
Name[ca@valencia]=Kleopatra
Name[ca]=Kleopatra
Name[cs]=Kleopatra
Name[cy]=Kleopatra
Name[da]=Kleopatra
Name[de]=Kleopatra
Name[el]=Kleopatra
Name[en_GB]=Kleopatra
Name[eo]=Kleopatra
Name[es]=Kleopatra
Name[et]=Kleopatra
Name[eu]=Kleopatra
Name[fi]=Kleopatra
Name[fr]=Kleopatra
Name[fy]=Kleopatra
Name[ga]=Kleopatra
Name[gl]=Kleopatra
Name[he]=Kleopatra
Name[hu]=Kleopatra
Name[ia]=Kleopatra
Name[is]=Kle\xc3\xb3patra
Name[it]=Kleopatra
Name[ja]=Kleopatra
Name[ka]=Kleopatra
Name[kk]=Kleopatra
Name[km]=Kleopatra
Name[ko]=Kleopatra
Name[lt]=Kleopatra
Name[lv]=Kleopatra
Name[mk]=\xd0\x9a\xd0\xbb\xd0\xb5\xd0\xbe\xd0\xbf\xd0\xb0\xd1\x82\xd1\x80\xd0\xb0
Name[mr]=\xe0\xa4\x95\xe0\xa5\x8d\xe0\xa4\xb2\xe0\xa4\xbf\xe0\xa4\x93\xe0\xa4\xaa\xe0\xa4\xbe\xe0\xa4\xa4\xe0\xa5\x8d\xe0\xa4\xb0\xe0\xa4\xbe
Name[ms]=Kleopatra
Name[nb]=Kleopatra
Name[nds]=Kleopatra
Name[ne]=\xe0\xa4\x95\xe0\xa5\x8d\xe0\xa4\xb2\xe0\xa5\x87\xe0\xa4\x93\xe0\xa4\xaa\xe0\xa5\x87\xe0\xa4\x9f\xe0\xa5\x8d\xe0\xa4\xb0\xe0\xa4\xbe
Name[nn]=Kleopatra
Name[pa]=\xe0\xa8\x95\xe0\xa8\xb2\xe0\xa9\x80\xe0\xa8\x89\xe0\xa8\xaa\xe0\xa8\xbe\xe0\xa8\x9f\xe0\xa8\xb0\xe0\xa8\xbe
Name[pl]=Kleopatra
Name[pt]=Kleopatra
Name[pt_BR]=Kleopatra
Name[ro]=Kleopatra
Name[ru]=Kleopatra
Name[se]=Kleopatra
Name[sk]=Kleopatra
Name[sl]=Kleopatra
Name[sr@ijekavian]=\xd0\x9a\xd0\xbb\xd0\xb5\xd0\xbe\xd0\xbf\xd0\xb0\xd1\x82\xd1\x80\xd0\xb0
Name[sr@ijekavianlatin]=Kleopatra
Name[sr@latin]=Kleopatra
Name[sr]=\xd0\x9a\xd0\xbb\xd0\xb5\xd0\xbe\xd0\xbf\xd0\xb0\xd1\x82\xd1\x80\xd0\xb0
Name[sv]=Kleopatra
Name[ta]=\xe0\xae\x95\xe0\xaf\x8d\xe0\xae\xb3\xe0\xae\xbf\xe0\xae\xaf\xe0\xaf\x8b\xe0\xae\xaa\xe0\xae\x9f\xe0\xaf\x8d\xe0\xae\xb0\xe0\xae\xbe
Name[tg]=Kleopatra
Name[tr]=Kleopatra
Name[ug]=Kleopatra
Name[uk]=Kleopatra
Name[uz@cyrillic]=Kleopatra
Name[uz]=Kleopatra
Name[wa]=Kleopatra
Name[x-test]=xxKleopatraxx
Name[zh_CN]=Kleopatra
Name[zh_TW]=Kleopatra
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=org.kde.kleopatra
X-DBUS-StartupType=
X-DocPath=kleopatra/index.html
X-KDE-SubstituteUID=false
X-KDE-Username=
