[Desktop Entry]
Categories=Qt;Network;Chat;IRCClient;
Comment[nl_BE]=IRC-client met centraal kerncomponent
Comment=IRC-client met centraal kerncomponent
Comment[ast]=Veceru IRC distribuy\xc3\xadu con un componente central
Comment[ca]=Client d'IRC distribu\xc3\xaft amb un component de nucli central
Comment[de]=Dezentralisierter IRC-Client mit einem zentralen Kern
Comment[en_GB]=Distributed IRC client with central core component
Comment[es]=Cliente IRC distribuido con un componente central
Comment[et]=Hajus IRC klient koos keskse tuumkomponendiga
Comment[fi]=Hajautettu IRC-asiakas, jolla keskitetty ydinkomponentti
Comment[fr]=Client IRC distribu\xc3\xa9 avec composant essentiel centralis\xc3\xa9
Comment[gl]=Cliente de IRC distribu\xc3\xaddo cun compo\xc3\xb1ente principal central
Comment[hu]=Elosztott IRC-kliens k\xc3\xb6zponti alapkomponenssel
Comment[it]=Client IRC distribuito con componente centrale
Comment[oc]=Client IRC distribuit amb component essencial centralizat
Comment[pt_BR]=Cliente IRC distribuido com o compotente central core
Comment[ru]=\xd0\xa0\xd0\xb0\xd1\x81\xd0\xbf\xd1\x80\xd0\xb5\xd0\xb4\xd0\xb5\xd0\xbb\xd1\x91\xd0\xbd\xd0\xbd\xd1\x8b\xd0\xb9 \xd0\xba\xd0\xbb\xd0\xb8\xd0\xb5\xd0\xbd\xd1\x82 IRC \xd1\x81 \xd1\x86\xd0\xb5\xd0\xbd\xd1\x82\xd1\x80\xd0\xb0\xd0\xbb\xd1\x8c\xd0\xbd\xd1\x8b\xd0\xbc \xd1\x8f\xd0\xb4\xd1\x80\xd0\xbe\xd0\xbc
Comment[sq]=Klient i shp\xc3\xabrndar\xc3\xab IRC me p\xc3\xabrb\xc3\xabr\xc3\xabs qendror
Comment[sv]=Distribuerad IRC-klient med central k\xc3\xa4rnkomponent
Comment[uk]=\xd0\x9a\xd0\xbb\xd1\x96\xd1\x94\xd0\xbd\xd1\x82 IRC \xd0\xb7 \xd1\x86\xd0\xb5\xd0\xbd\xd1\x82\xd1\x80\xd0\xb0\xd0\xbb\xd1\x8c\xd0\xbd\xd0\xb8\xd0\xbc \xd1\x8f\xd0\xb4\xd1\x80\xd0\xbe\xd0\xbc
Comment[zh_CN]=\xe5\xb8\xa6\xe6\x9c\x89\xe4\xb8\xad\xe5\xa4\xae\xe6\xa0\xb8\xe5\xbf\x83\xe7\xbb\x84\xe4\xbb\xb6\xe7\x9a\x84\xe5\x88\x86\xe5\xb8\x83\xe5\xbc\x8f IRC \xe5\xae\xa2\xe6\x88\xb7\xe7\xab\xaf
Exec=quasselclient
GenericName[nl_BE]=IRC-client
GenericName=IRC-client
GenericName[ast]=Veceru IRC
GenericName[ca]=Client d'IRC
GenericName[de]=IRC-Client
GenericName[en_GB]=IRC Client
GenericName[es]=Cliente IRC
GenericName[et]=IRC klient
GenericName[fi]=IRC-asiakas
GenericName[fr]=Client IRC
GenericName[gl]=Cliente de IRC
GenericName[hu]=IRC-kliens
GenericName[it]=Client IRC
GenericName[ko]=IRC \xed\x81\xb4\xeb\x9d\xbc\xec\x9d\xb4\xec\x96\xb8\xed\x8a\xb8
GenericName[nb]=IRC-klient
GenericName[oc]=Client IRC
GenericName[pl]=Klient IRC
GenericName[pt_BR]=Cliente IRC
GenericName[ru]=IRC \xd0\xba\xd0\xbb\xd0\xb8\xd0\xb5\xd0\xbd\xd1\x82
GenericName[sq]=IRC Klient
GenericName[sv]=IRC-klient
GenericName[tr]=IRC \xc4\xb0stemci
GenericName[uk]=\xd0\x9a\xd0\xbb\xd1\x96\xd1\x94\xd0\xbd\xd1\x82 IRC
GenericName[zh_CN]=IRC \xe5\xae\xa2\xe6\x88\xb7\xe7\xab\xaf
Icon=quassel
MimeType=
Name[nl_BE]=Quassel IRC (alleen client)
Name=Quassel IRC (alleen client)
Name[ast]=IRC Quassel (nam\xc3\xa1i veceru)
Name[ca]=Xat IRC Quassel (nom\xc3\xa9s el client)
Name[de]=Quassel IRC (nur Client)
Name[en_GB]=Quassel IRC (Client only)
Name[es]=IRC Quassel (s\xc3\xb3lo cliente)
Name[et]=Quassel IRC (ainult klient)
Name[fi]=Quassel IRC (vain asiakas)
Name[fr]=Quassel IRC (client uniquement)
Name[gl]=Quassel IRC (s\xc3\xb3 cliente)
Name[hu]=Quassel IRC (Csak kliens)
Name[it]=Quassel IRC (solo client)
Name[ko]=Quassel IRC (\xed\x81\xb4\xeb\x9d\xbc\xec\x9d\xb4\xec\x96\xb8\xed\x8a\xb8\xeb\xa7\x8c)
Name[oc]=Quassel IRC (client unicament)
Name[pl]=Quassel IRC (tylko klient)
Name[pt_BR]=Quassel IRC (Apenas cliente)
Name[ru]=Quassel IRC (\xd1\x82\xd0\xbe\xd0\xbb\xd1\x8c\xd0\xba\xd0\xbe \xd0\xba\xd0\xbb\xd0\xb8\xd0\xb5\xd0\xbd\xd1\x82)
Name[sq]=Quassel IRC (Vet\xc3\xabm klient)
Name[sv]=Quassel IRC (endast klient)
Name[tr]=Quassel IRC (sadece \xc4\xb0stemci)
Name[uk]=Quassel IRC (\xd0\xbb\xd0\xb8\xd1\x88\xd0\xb5 \xd0\xba\xd0\xbb\xd1\x96\xd1\x94\xd0\xbd\xd1\x82)
Name[zh_CN]=Quassel IRC (\xe4\xbb\x85\xe4\xbb\x85\xe5\x8c\x85\xe5\x90\xab\xe5\xae\xa2\xe6\x88\xb7\xe7\xab\xaf)
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=quasselclient
Type=Application
Version=1.0
X-DBUS-ServiceName=org.quassel-irc.quasselclient
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
