[Desktop Entry]
Categories=System;
Comment[nl_BE]=USBGuard Qt Applet
Comment=USBGuard Qt Applet
Exec=usbguard-applet-qt
GenericName[nl_BE]=USBGuard
GenericName=USBGuard
Icon=usbguard-icon
Keywords=USB;USBGuard;Applet;Qt;
MimeType=
Name[nl_BE]=USBGuard
Name=USBGuard
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=usbguard-applet-qt
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-Desktop-File-Install-Version=0.7.4
X-KDE-SubstituteUID=false
X-KDE-Username=
